<div class="container" style="padding: 20px;">
  <h2>Gerenciar Produtos</h2>
  <button routerLink="/dashboard" style="margin-bottom: 20px;">Voltar ao Menu</button>
  <hr>

  <div style="background: #e9ecef; padding: 20px; border-radius: 8px; margin-bottom: 30px;">
    <h3>Novo Produto</h3>
    <form (ngSubmit)="salvar()">
      
      <div style="display: flex; gap: 10px;">
        <div style="flex: 2;">
          <label>Nome:</label>
          <input type="text" [(ngModel)]="novoProduto.nome" name="nome" required style="width: 100%; padding: 8px;">
        </div>

        <div style="flex: 1;">
          <label>Preço (R$):</label>
          <input type="number" step="0.01" [(ngModel)]="novoProduto.preco" name="preco" required style="width: 100%; padding: 8px;">
        </div>
      </div>
      
      <div style="margin-top: 10px;">
        <label><strong>Estoque Inicial:</strong></label>
        <input type="number" [(ngModel)]="novoProduto.quantidade" name="quantidade" required style="width: 100%; padding: 8px; font-weight: bold; color: blue;">
      </div>

      <div style="margin-top: 10px;">
        <label>Categoria:</label>
        <select [(ngModel)]="novoProduto.categoria" name="categoria" required style="width: 100%; padding: 8px;">
          <option value="ALCOOLICA">Bebida Alcoólica</option>
          <option value="NAO_ALCOOLICA">Bebida Não Alcoólica</option>
          <option value="COMESTIVEL">Comestível / Lanche</option>
        </select>
      </div>

      <br>
      <button type="submit" style="padding: 10px 20px; background-color: #28a745; color: white; border: none; cursor: pointer; width: 100%;">
        Cadastrar com Estoque
      </button>
    </form>
  </div>

  <h3>Lista Atual</h3>
  <table border="1" width="100%" cellpadding="5">
    <thead>
      <tr style="background: #333; color: white;">
        <th>Nome</th>
        <th>Categoria</th>
        <th>Preço</th>
        <th>Estoque</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of listaProdutos">
        <td>{{ p.nome }}</td>
        <td>{{ p.categoria }}</td>
        <td>R$ {{ p.preco }}</td>
        <td style="font-weight: bold;">{{ p.quantidade || 0 }}</td>
      </tr>
    </tbody>
  </table>
</div>